<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
    <h1>Register yourself</h1>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label>Email</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <button type="submit">Register</button>
    </form>
   
    
</body>
</html>